* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
}

.contain {
    width: 400px;
    height: 600px;
    background-color: maroon;
    border-radius: 10px;
    display: grid;
    justify-content: center;
}