* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

main {
    display: grid;
    justify-content: center;
    align-content: center;
}

.container {
    width: 30rem;
    height: 60rem;
    border: black 5px;
    border-radius: 10px;
}